:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0.5rem;
  min-height: 100%;
}
h1 {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  border: 0.5rem dotted rgb(255, 172, 48);
  padding-top: 4rem;
  margin-left: 2rem;
  width: 100%;
  min-height: 6rem;
}

.score-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border: 0.5rem solid black;
  width: 100%;
  margin-top: 1rem;
  margin-left: 2.5rem;
  /* height: 100%; */
}

.team1,
.team2 {
  display: block;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  border: 0.25rem solid hotpink;
  /* margin: 1rem; */
  padding: 0.5rem;
  width: 45%;
}

.score-area p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  border: 0.25rem solid purple;
  height: 5rem;
}

.update-score {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  border: 0.25rem solid pink;
}

.update-score section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.update-score button {
  min-width: 5rem;
  max-width: 5rem;
  padding: 0.5rem;
  margin: 0.25rem;
}

#update {
  color: whitesmoke;
  background-color: rgb(0, 52, 165, 1);
}

#clear {
  border: 0.025rem solid #aaa;
  border-radius: 5%;
  color: whitesmoke;
  background-color: rgb(0, 52, 165, 1);
}

input {
  width: 100%;
  border: 0.15rem solid black;
}

#add {
  font-size: 0.75rem;
  font-weight: 700;
  border: 0.025rem solid #aaa;
  border-radius: 5%;
  color: whitesmoke;
  background-color: rgb(115, 187, 42);
}

#subtract {
  font-size: 0.75rem;
  font-weight: 700;
  border: 0.025rem solid #aaa;
  border-radius: 5%;
  color: whitesmoke;
  background-color: rgba(221, 208, 30, 0.801);
}

#reset {
  font-size: 0.75rem;
  font-weight: 700;
  border: 0.025rem solid #aaa;
  border-radius: 5%;
  color: whitesmoke;
  background-color: rgba(221, 30, 135, 0.801);
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  .score-area {
    display: flex;
    justify-content: space-between;
  }
  .update-score {
    font-size: 2rem;
  }
}

/* .winner h1 {
  min-height: 10rem;
} */
